
.infoPage {
    padding: 0;
    margin: 0;
    background: rgb(224, 220, 220);
    padding-bottom: 30px;

    &__header {
        display: flex;
        justify-content: center;

        &--title {
            margin-top: 20px;
            font-size: 46px;
            color: rgb(63, 80, 29);
            text-align: center;
        }
    }

    &__container {
        display: flex;
        justify-content: center;
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 20px;

        &--content {
            padding: 40px;
            border-radius: 20px;
            background-color: #fff;
        }
    }
}

@media (max-width: 740px) {
    .infoPage {
    
        &__header {
    
            &--title {
                margin-top: 20px;
                font-size: 40px;
            }
        }
    
        &__container {
            font-size: 18px;
    
            &--content {
                padding: 40px;
                border-radius: 20px;
                background-color: #fff;
            }
        }
    }
}