.record-button {
    background-color: #fff;
    color: #000;
    padding: 1px 60px 3px 60px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.record-button:hover {
    background-color: #ccc;
    color: #000;
    border: 1px solid #ccc;
}

.recordPage {
    background-color: #fff;
    border-radius: 5px;
    padding: 0 33px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);

    &__header {
        padding: 0;
        border-bottom: 0.3px solid #ccc;

        &--title {
            margin: 22px 0;
            
            &-1 {
                font-size: 18px;
                font-weight: 500;
                line-height: 22px;
                text-transform: capitalize;
                color: #333;
            }

            &-2 {
                font-size: 16px;
                line-height: 18px;
                color: #555;
            }
        }
    }

    &__container {
        padding-top: 36px;

        &--menu {
            padding: 0 50px 30px 0;

            &-items {
                display: flex;
                margin-bottom: 30px;

                &-label {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    font-size: 15px;
                    color: rgba(85,85,85,.8);
                    text-transform: capitalize;
                } 

                &-value {
                    margin-left: 20px;
                    padding: 7px 0 7px 12px;
                    font-size: 14px;
                    color: #333;
                    border: 0.5px solid #ccc;
                    border-radius: 3px;
                }

                &-btn {
                    padding: 6px 30px;
                    margin-top: 20px;
                    margin-left: 14px;
                    font-size: 16px;
                    border: 1px solid #ccc;
                    border-radius: 3px;
                    background-color: #019160;
                    color: #fff;
                }

                &-btn:hover {
                    background-color: #2FBE8E;
                    color: #fff;
                }
            }
        }

        &--avatar {
            padding: 0 0 50px 0;
            display: flex;
            justify-content: center;

            &-img {
                display: flex;
                justify-content: center;

                h1 {
                    padding: 30px 42px;
                    background-color: rgb(62, 133, 62);
                    color: #fff;
                    font-size: 50px;
                    border-radius: 50%;
                }
            }

            &-select {
                display: flex;
                justify-content: center;

                &-btn {
                    color: #555;
                    background-color: #fff;
                    font-size: 16px;
                    padding: 8px 15px;
                    border: 1px solid #ccc;
                }

                &-btn:hover {
                    background-color: #ccc;
                    color: #000;
                }
            }

            &-request {
                display: flex;
                justify-content: center;
                color: #999;
                font-size: 14px;
                line-height: 20px;
                margin-top: 12px;
            }
        }
    }
}

@media (max-width: 700px) {
    .record-button {
        margin-left: -50px;
    }
    .recordPage {
        padding: 0 15px;

        &__header {
            &--title {
                &-2 {
                    font-size: 14px;
                }
            }
        }

        &__container {
            padding-top: 26px;
            padding-right: 0;
    
            &--menu {
                padding: 0 0 30px 0;
    
                &-items {
                    margin-bottom: 20px;
    
                    &-label {
                        justify-content: flex-start;
                        font-size: 12px;
                    } 
    
                    &-value {
                        margin-left: 10px;
                        padding: 6px 0 6px 12px;
                        font-size: 12px;
                    }
    
                    &-btn {
                        padding: 5px 15px;
                        margin-top: 15px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}