* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  color: #333;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

.register__page {
  min-height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register__page--container {
  margin: 0;
  background-color: #f9f9fc;
  border-radius: 3px;
  box-shadow: 0 0 13px 0 ;
}

.register-main {
  display: flex;
  justify-content: center;
}

.register-form {
  width: 100%;
  padding: 12px 24px;
  text-align: center;
  border-radius: 2px;;
  align-self: center;
}

.register-form .register-heading {
  font-size: 2.5rem;
  color: #141170;
}

.register-form .register-desc {
  text-align: center;
  color: #636d77;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin-top: 16px;
}

.register-form-group {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
}

.register-form-label,
.register-form-message {
  text-align: left;
}

.register-form-label {
  font-weight: 700;
  padding-bottom: 6px;
  line-height: 1.8rem;
  font-size: 1.4rem;
}

.register-form-control {
  height: 40px;
  padding: 8px 12px;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  outline: none;
  font-size: 1.4rem;
}

.register-form-control:hover {
  border-color: #1dbfaf;
}

.register-form-group.invalid .register-form-control {
  border-color: #f33a58;
}

.register-form-group.invalid .register-form-message {
  color: #f33a58;
}

.register-form-message {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 4px 0 0;
}

.register-form-font {
  font-size: 17px;
  font-weight: 500;
  color: #1FA2FF;
}

.register-form-font:hover {
  color: #3c382f;
}

.register-form-submit {
  outline: none;
  background-color: #1dbfaf;
  margin: 12px 0 10px 0;
  padding: 8px 0;
  font-weight: 600;
  color: #fff;
  border: none;
  width: 100%;
  font-size: 20px;
  border-radius: 3px;
  cursor: pointer;
}

.register-form-submit:hover {
  background-color: #1ac7b6;
}

.register-spacer {
  margin-top: 25px;
}

.register__footer {
  text-align: center;
  margin: 20px 0 12px 0;
  font-size: 16px;
}

@media (min-width: 1200px) {
  .register__page {
    background: url(../../images/bgr0.jpg) top center / cover no-repeat;
  }
  .register__page--container {
    padding: 2rem;
    width: 500px;
  }
}

@media (min-width: 701px) and (max-width: 1199px){
  .register__page {
    background: url(../../images/bgr11.jpg) top center / cover no-repeat;
  }
  .register__page--container {
    padding: 2rem;
    width: 500px;
  }
}

@media (max-width: 700px) {
  .register__page {
    background: url(../../images/bgr11.jpg) top center / cover no-repeat;
    overflow: hidden;
  }
  .register__page--container {
    padding: 1.5rem;
    width: 350px;
  }
  .register-form-submit {
    font-size: 16px;
  }
}